@import "tailwindcss";

@theme inline {
  --font-geist: var(--font-geist);
}

@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}

body {
  background: #f9fafb;
  color: #111827;
}
